.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2vw;
  background-color: white;

  @media(min-width: 900px) {
    padding: 5px 7vw;
  }

  &__logo {
    height: 80px;

    @media (min-width: 900px) {
      height: 120px;
    }
  }
}

.logged .nav__item--logged {
  display: block;
}

.logged .nav__login {
  display: none;
}

.logged .nav__item--smallvw {
  display: none;

  @media(min-width: 900px) {
    display: block;
  }
}
