.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7vw;
  background-color: white;

  @media(max-width: 900px) {
    padding: 2px 2vw;
  }

  &__logo{
    height: 120px;

    @media (max-width: 900px) {
      height: 80px;
    }
  }
}

.logged .nav__item--logged {
  display: block;
}

.logged .nav__login {
  display: none;
}

.logged .nav__item--smallvw {
  @media(max-width: 900px) {
    display: none;
  }
}
